/* row.css */
.row {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-top: 1rem;
    color: white;
}

.row_posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none; /* Hide the scrollbar in Firefox */
    scrollbar-color: transparent transparent;
    margin-right: 20px;
}

.row_posters::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in webkit-based browsers */
}

.row__poster {
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
    border-radius: 2px;
    cursor: pointer;
}

.row__posterLarge {
    max-height: 250px;
}

.row__poster:hover {
    transform: scale(1.08);
    transition: all 0.5s ease-in-out;
}

.movie_title_row {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
    user-select: none;
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
    .row_posters {
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    .row__poster {
        max-height: 120px;
        margin-right: 5px;
    }

    .row__posterLarge {
        max-height: 200px;
    }
    .movie_tooltip {
        opacity: 1;
        visibility: visible;
    }
}

/* row.css */
/* ... (existing CSS rules) */

.movie_poster_container {
    position: relative;
    display: inline-block;
    position: relative;
    flex: 0 0 auto; /* This ensures the poster container won't grow or shrink */
    margin-right: 10px;
    overflow: hidden;
}

.movie_tooltip {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-51%); /* Center the tooltip horizontally */
    width: 100%; /* Take the full width of the movie poster */
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14px;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    white-space: nowrap;
}

.movie_poster_container:hover .movie_tooltip {
    opacity: 1;
    visibility: visible;
}
